$main-text-color: #696969;
$main-box-background-color: #F7EDE2;
$link-text-color: #F28482;
$second-box-background-color: #F7EDE34D;
$border-color: #FFF;
$transition-hover-color: #84A59D;
$button-color: #F5CAC3;
