@mixin desktop-image-size {
    width: 540px;
    height: 360px;
}

@mixin desktop-thumbnail-size {
    width: 300px;
    height: 200.1;
}

@mixin center-and-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}