@import 'fonts';
@import 'colors';
@import 'extends';
@import 'mixins';

.header {
    background-color: $main-box-background-color;
    img {
        width: 110px;
    }
    .menu {
        align-self: center;
        .menu-item {
            display: flex;
            justify-content: flex-end;
            li {
                display: flex;
                justify-content: space-around;
                list-style: none;
                a {
                   @extend %links;
                   font-size: 20px;
                   margin: 0 10px;
                   letter-spacing: 4px;

                   &:hover {
                    transform: scale(1.15);
                   }
                }
            }
        }
    }
}

h1, .title {
    @extend %titles;
    animation-duration: 2s;
    animation-name: aparecer;
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        
    }
}

.container {
    font-family: $main-text-font;
    color: $main-text-color;
    margin-top: 10px;
}

.section1 {
    .row {
        background-color: $second-box-background-color;
        border-radius: 30px;
        .image {
            @include center-and-middle;
        }
    }
}

.section2 {
    .row {
        background-color: $second-box-background-color;
        border-radius: 30px;
        .box {
            order: 1;
        }
        .image {
            @include center-and-middle;
        }
    }
}

.section3, .section4, .box {
    @extend %borders;
    background-color: $main-box-background-color;
}

.section4 {
    // height: 270px;
    .row {
        .image {
            img {
                @include desktop-thumbnail-size;
                position: absolute;
            }
            .transition {
                @include desktop-thumbnail-size;
                @include center-and-middle;
                filter: opacity(0);
                position: absolute;

                &:hover {
                    background-color: $transition-hover-color;
                    filter: none;
                }
                .text {
                    @include center-and-middle;
                }
            }
        }
    }
}

.section5 {
    .form {
        @extend %forms;
        width: 100px;
        height: 100px;
        transition: height 2s, width 1s;
        

        &:hover {
            height: 308px;
            width: 200px;
            opacity: 1;
        }
        form {
            opacity: 0;

            &:hover {
                opacity: 1;
            }
            button {
                @extend %buttons;           
                &:hover {
                    @extend %buttons-hover;
                }
            }
        }
    }
}

.footer {
    background-color: $button-color;
    .left {
        .subtitle {
            display: flex;
            justify-content: left;
        }
        
        li {         
            display: flex;
            justify-content: space-between;
            list-style: none;
            a{
                text-decoration: none;
                color: $link-text-color;
                display: flex;
                justify-content: space-around;
                img {
                    margin-right: 5px;
                }
                &:hover {
                    font-weight: bold;
                    color: #F17573;
                }
            }
        }
    }
    .middle {
        .subtitle {
            display: flex;
            justify-content: left;
        }
        div{
            height: 50px;
            border-left: 1px solid #6969699d;
            border-right: 1px solid #6969699d;
            a {
                text-decoration: none;
                color: $link-text-color;
                display: flex;
                img {
                    margin-right: 5px;
                }

                &:hover {
                    font-weight: bold;
                    color: #F17573;
                }
            }
            p {
                color: $link-text-color;
                margin-left: 5px;
            }
        }
    }
    .right {
        .subtitle {
            display: flex;
            justify-content: left;
        }
        a {
            text-decoration: none;
            color: $link-text-color;
            display: flex;
            img {
                margin-right: 5px;
            }

            &:hover {
                font-weight: bold;
                color: #F17573;
            }

        }
    }
}

.subtitle {
    color: #6969699d;
}
